body{
    background-color: rgb(253, 253, 253);
}
header{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
header div{
    padding: 0.3rem 0.5rem;
    border: 3px rgb(0, 34, 255) solid;
    border-radius: 6px;
    margin:0.5rem;
    color: rgb(0, 34, 255);
}