@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: rgb(253, 253, 253);
    width: 99%;
    height: 97.6vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
header div{
    padding: 0.3rem 0.5rem;
    border: 3px rgb(0, 34, 255) solid;
    border-radius: 6px;
    margin:0.5rem;
    color: rgb(0, 34, 255);
}
footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
footer div a{
    text-decoration: none;
    color: red;
}
main div.start{
    text-align: center;
    position: absolute;
    width: 99vw;
    top: 50%;
    display: none;
}
main div.start span{
    padding: 1rem;
    font-size: 2rem;
    box-shadow: 0rem 0rem 1rem 1rem rgb(246, 246, 246);
    color: rgb(86, 86, 86);
}
.none{
    display: none;
}
main main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
container{
    display: flex;
    justify-content: space-around;
    width: 90rem;
    height: 5rem;
}
container>div{
    text-align: center;
    width: 20rem;
    border-radius: 0.25rem;
    box-shadow: 0rem 1rem 1rem 1rem rgb(246, 246, 246);
    transition: 0.3s;
}
container>div:hover{
    box-shadow: 0rem 1rem 2rem 1rem rgb(233, 233, 233);
    transform: translateY(-1rem);
}
div.title{
    background-color: rgb(131, 243, 255);
    padding: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
div.value{
    position: relative;
    top: 1rem;
}
div.code{
    font-size: 17rem;
    margin-top: 5rem;
}